.gamebox{
	margin: 25px 0;
	padding-bottom: 70px;
}

.board {
  	width: 50%;
    margin: 50px auto;
    background: #f1f1f1;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}

.board .table {
    display: table;
    margin: 0 auto;
}

.board .table .table-row {
   width: 100%;
}

.board .table .table-cell {
    float: left;
    width: 33.33%;
    height: 150px;
    border:solid 7px #41403E;
    border-top: none;
    border-left: none;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    cursor:pointer;
    position: relative;
    
}
.board .table .table-cell-palyer1 {
    
    width: 33.33%;
    height: 150px;
     border:solid 7px  #e53935;
    border-top: none;
    border-left: none;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    cursor:pointer;
    position: relative;
}

.board .table .table-cell-palyer2 {
    width: 33.33%;
    height: 150px;
    border:solid 7px #2196f3;
    border-top: none;
    border-left: none;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    cursor:pointer;
    position: relative;
}

.table-row .table-cell:last-child {
    border-right: none;
}

.table-row:last-child .table-cell {
    border-bottom: none;
}
.user1{
  background: #fff;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 12px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -70px;
}
.user2{
  background: #fff;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 12px;
  position: absolute;
  right:  0;
  top: 0;
  margin-top: -70px;
}
.userImg{
  width: 70px;
  height: 70px;
  margin: 5px;
}
.rectangleBox{
  background-color: #fff;
  border-bottom: 5px solid #007bff;
  position: absolute;
  right: 9%;
  bottom: 5%;
  transform: translate(-9%,-5%);
  padding: 5px;
  width: 120px;
  border-radius: 12px;
}
.coins1{
  width: 35px;
  height: 35px;
}
.rectangleBox span{
  font-size: 24px;
  font-weight: 600;
  padding: 15px;
  color: #000;
}
.btn-toggle {
  background: #1c1c1c;
  color: #fff;
  margin-top: 5px;
  margin-left: 5px;
}
.leave-toggle {
  display: none;  
}
.btn-toggle:hover .leave-toggle {
  display: block;
  display: inline-block;
}
.btn-toggle:hover .bar-toggle {
  display: none;
}
.player1-color {
  width: 80px;
  padding: 0 20px;
   border:solid 7px rgba(255, 0, 0,1);
   position: absolute;
  left: 0;
  top: 15px;
}
.player2-color {
  width: 80px;
  padding: 0 20px;
  border:solid 7px rgba(0, 51, 204,1);
  position: absolute;
  right:  0;
  top: 15px;
}

.palyer1-name {
  position: absolute;
  left: 8px;
  top: 25px;
  color: #fff;
}


.palyer2-name {
  position: absolute;
  right: 10px;
  top: 25px;
  color: #fff;
}

.message{
  position: absolute;
  right: 0;
  top: 0;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: -50%;
    font-size: 20px;
    border-radius: 12px;
}

.dropdown {
    position: relative;
    display: inline-block; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -200%;
    height: 200px;
    overflow-y: scroll;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#icon{
  font-size: 25px;
}
.player1chat a{
  position: absolute;
  left: 80px;
  top: 35px;

}
.player2chat a{
  position: absolute;
  right: 80px;
  top: 35px;

}


@media (min-width: 768px) and (max-width: 1024px) {
  
  .board {
    width: 80%;
  }

}

@media (min-width: 320px) and (max-width: 767px) {
  
  .board {
    width: 100%;
  }
  
}
